Channel_secret = "GET THIS FROM LINE"
Channel_access_token = "ALSO GET THIS FROM LINE"
FIREBASE_SECRET_JSON = 'GET THIS FROM FIREBASE'
FIREBASE_URL = 'GET THIS FROM FIREBASE AS WELL'
Basic_ID = "THIS IS THE BOT'S LINE ID"
