Channel_secret = "GET THIS FROM LINE"
Channel_access_token = "ALSO GET THIS FROM LINE"
Firebase_secret_json = 'GET THIS FROM FIREBASE'
Firebase_url = 'GET THIS FROM FIREBASE AS WELL'
Basic_ID = "THIS IS THE BOT'S LINE ID"
